CandidateAPI/.vs/CandidateAPI/DesignTimeBuild/.dtbcache.v2
CandidateAPI/.vs/CandidateAPI/FileContentIndex/66a43b7c-4b45-4a3b-8980-78dc1c62c3f2.vsidx
CandidateAPI/.vs/CandidateAPI/FileContentIndex/455ae76a-787f-44cb-b026-e664b219bf64.vsidx
CandidateAPI/.vs/CandidateAPI/FileContentIndex/880f212a-5373-476e-8904-fc0c812c88be.vsidx
CandidateAPI/.vs/CandidateAPI/FileContentIndex/e5c66431-57f3-4d88-aaf0-037891c1d2f6.vsidx
CandidateAPI/.vs/CandidateAPI/FileContentIndex/read.lock
CandidateAPI/.vs/CandidateAPI/config/applicationhost.config
CandidateAPI/.vs/CandidateAPI/v17/.futdcache.v1
CandidateAPI/.vs/CandidateAPI/v17/.futdcache.v2
CandidateAPI/.vs/CandidateAPI/v17/.suo
CandidateAPI/.vs/ProjectEvaluation/candidateapi.metadata.v2
CandidateAPI/.vs/ProjectEvaluation/candidateapi.metadata.v5.1
CandidateAPI/.vs/ProjectEvaluation/candidateapi.projects.v2
CandidateAPI/.vs/ProjectEvaluation/candidateapi.projects.v5.1
CandidateAPI/Candidate.BusinessDomain/bin/Debug/net6.0/Candidate.BusinessDomain.deps.json
CandidateAPI/Candidate.BusinessDomain/bin/Debug/net6.0/Candidate.BusinessDomain.dll
CandidateAPI/Candidate.BusinessDomain/bin/Debug/net6.0/Candidate.BusinessDomain.pdb
CandidateAPI/Candidate.BusinessDomain/bin/Debug/net6.0/Candidate.BusinessDomain.runtimeconfig.json
CandidateAPI/Candidate.BusinessDomain/obj/Candidate.BusinessDomain.csproj.nuget.dgspec.json
CandidateAPI/Candidate.BusinessDomain/obj/Candidate.BusinessDomain.csproj.nuget.g.props
CandidateAPI/Candidate.BusinessDomain/obj/Candidate.BusinessDomain.csproj.nuget.g.targets
CandidateAPI/Candidate.BusinessDomain/obj/project.assets.json
CandidateAPI/Candidate.BusinessDomain/obj/project.nuget.cache
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.AssemblyInfo.cs
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.AssemblyInfoInputs.cache
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.assets.cache
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.csproj.AssemblyReference.cache
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.csproj.BuildWithSkipAnalyzers
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.csproj.CoreCompileInputs.cache
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.csproj.FileListAbsolute.txt
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.dll
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.GeneratedMSBuildEditorConfig.editorconfig
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.genruntimeconfig.cache
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.GlobalUsings.g.cs
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/Candidate.BusinessDomain.pdb
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/ref/Candidate.BusinessDomain.dll
CandidateAPI/Candidate.BusinessDomain/obj/Debug/net6.0/refint/Candidate.BusinessDomain.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/appsettings.Development.json
CandidateAPI/CandidateAPI/bin/Debug/net6.0/appsettings.json
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Candidate.BusinessDomain.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Candidate.BusinessDomain.pdb
CandidateAPI/CandidateAPI/bin/Debug/net6.0/CandidateAPI.deps.json
CandidateAPI/CandidateAPI/bin/Debug/net6.0/CandidateAPI.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/CandidateAPI.exe
CandidateAPI/CandidateAPI/bin/Debug/net6.0/CandidateAPI.pdb
CandidateAPI/CandidateAPI/bin/Debug/net6.0/CandidateAPI.runtimeconfig.json
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Dapper.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Humanizer.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.Identity.Client.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Newtonsoft.Json.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/System.Drawing.Common.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/System.Runtime.Caching.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/System.Security.Permissions.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/System.Windows.Extensions.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
CandidateAPI/CandidateAPI/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
CandidateAPI/CandidateAPI/obj/CandidateAPI.csproj.nuget.dgspec.json
CandidateAPI/CandidateAPI/obj/CandidateAPI.csproj.nuget.g.props
CandidateAPI/CandidateAPI/obj/CandidateAPI.csproj.nuget.g.targets
CandidateAPI/CandidateAPI/obj/project.assets.json
CandidateAPI/CandidateAPI/obj/project.nuget.cache
CandidateAPI/CandidateAPI/obj/staticwebassets.pack.sentinel
CandidateAPI/CandidateAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CandidateAPI/CandidateAPI/obj/Debug/net6.0/apphost.exe
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.AssemblyInfo.cs
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.AssemblyInfoInputs.cache
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.assets.cache
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.csproj.AssemblyReference.cache
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.csproj.BuildWithSkipAnalyzers
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.csproj.CopyComplete
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.csproj.CoreCompileInputs.cache
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.csproj.FileListAbsolute.txt
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.dll
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.GeneratedMSBuildEditorConfig.editorconfig
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.genruntimeconfig.cache
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.GlobalUsings.g.cs
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.MvcApplicationPartsAssemblyInfo.cache
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.MvcApplicationPartsAssemblyInfo.cs
CandidateAPI/CandidateAPI/obj/Debug/net6.0/CandidateAPI.pdb
CandidateAPI/CandidateAPI/obj/Debug/net6.0/staticwebassets.build.json
CandidateAPI/CandidateAPI/obj/Debug/net6.0/ref/CandidateAPI.dll
CandidateAPI/CandidateAPI/obj/Debug/net6.0/refint/CandidateAPI.dll
